---
import Navigation from "../components/Navigation.astro";
import Hamburger from "../components/Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";

const { pageTitle } = Astro.props;
---

<Hamburger />
<ThemeIcon />
<Navigation />
<h1>{pageTitle}</h1>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
